/* Google Font */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap'); */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.form-control label{
    display: block;
    margin-bottom: .5rem;
}
.form-control input[type="text"]{
    padding: .25rem .5rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #c0c0c0;
    border-radius: 0.25rem;
}
h2{
    font-size: 24px;
}
ul.showTodoList {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
}
ul.showTodoList li {
    padding: 0.5rem 1rem;
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
}